<header fxLayout fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" class="mat-elevation-z2 mat-typography">
  <button md-icon-button fxHide fxShow.lt-md (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
  <a [routerLink]="[ '/' ]" fxFlex="1 1 auto" fxLayoutAlign.lt-md="center center"><md-icon>directions_run</md-icon> Barista</a>

  <div *neoAllowed="'profile'" class="profile">
    <img [mdMenuTriggerFor]="menu" [neoGravatar]="user?.email" [size]="32" />
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item (click)="updatePassword()"><md-icon>edit</md-icon>Change Password</button>
      <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon>Logout</button>
    </md-menu>
  </div>
</header>
<md-sidenav-container fxFlex="1 1 auto">

  <md-sidenav #sidenav [mode]="isDesktop ? 'side' : 'over'" [opened]="isDesktop" fxLayout="column" class="mat-elevation-z2">
    <md-nav-list>
      <a *neoAllowed="'projects';privilege:'list'" md-list-item [routerLink]="[ '/manage', 'projects' ]">
        <md-icon md-list-icon>dns</md-icon>
        Projects
      </a>
      <a *neoAllowed="'users';privilege:'list'" md-list-item [routerLink]="[ '/manage', 'users' ]">
        <md-icon md-list-icon>supervisor_account</md-icon>
        Users
      </a>
    </md-nav-list>
  </md-sidenav>

  <div fxFlex="1 1 auto" fxLayout="column">
    <router-outlet></router-outlet>
    <footer>
      <md-toolbar color="primary">
        <a href="https://neoskop.de">&copy; 2017 Neoskop GmbH</a>
      </md-toolbar>
    </footer>
  </div>

</md-sidenav-container>

