<form [formGroup]="form" (submit)="submit()">
  <md-form-field>
    <input mdInput type="password" placeholder="Current Password" formControlName="current" />
    <md-error *ngIf="form.get('current').invalid">
      <span *ngIf="form.get('current').hasError('incorrect')">Current Password is <strong>incorrect</strong></span>
    </md-error>
  </md-form-field>

  <ng-container formGroupName="updated">
    <md-form-field>
      <input mdInput type="password" placeholder="New Password" formControlName="value" />
    </md-form-field>

    <md-form-field>
      <input mdInput type="password" placeholder="Repeat new Password" formControlName="repeat" />
    </md-form-field>
  </ng-container>

  <button md-button [disabled]="form.invalid">Update</button>
  <button md-button type="button">Cancel</button>
</form>
